<a href="https://colab.research.google.com/github/rafaelrolli/alura_insurance/blob/semana7-pandas/semana7_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd

### Gerando massa de dados

In [ ]:
# n = 10
# ids = np.arange(n) + 1
# idades = np.random.randint(low=18, high=80, size=n)
# sexos = np.random.choice(['M', 'F'], n)
# estados_civis = np.random.choice(['Solteiro(a)', 'Casado(a)', 'Divorciado(a)', 'Viuvo(a)'], n)
# sinistros = np.random.choice([0, 1], n, p=[.95, .05])
# premios = np.random.uniform(low=200.0, high=3000.0, size=n).round(2)

In [21]:
dados = {
    '12345': {'idade': 18, 'sexo': 'F', 'estado_civil': 'Viuvo(a)',      'sinistros': 0, 'premio': 2793.06},
    '12346': {'idade': 68, 'sexo': 'M', 'estado_civil': 'Viuvo(a)',      'sinistros': 0, 'premio': 428.3},
    '12347': {'idade': 61, 'sexo': 'M', 'estado_civil': 'Casado(a)',     'sinistros': 1, 'premio': 1594.1},
    '12348': {'idade': 19, 'sexo': 'M', 'estado_civil': 'Solteiro(a)',   'sinistros': 0, 'premio': 1821.82},
    '12349': {'idade': 26, 'sexo': 'F', 'estado_civil': 'Divorciado(a)', 'sinistros': 0, 'premio': 807.88},
    '12350': {'idade': 21, 'sexo': 'M', 'estado_civil': 'Divorciado(a)', 'sinistros': 0, 'premio': 2900.03},
    '12351': {'idade': 58, 'sexo': 'F', 'estado_civil': 'Solteiro(a)',   'sinistros': 1, 'premio': 2511.96},
    '12352': {'idade': 31, 'sexo': 'M', 'estado_civil': 'Solteiro(a)',   'sinistros': 0, 'premio': 800.22},
    '12353': {'idade': 21, 'sexo': 'M', 'estado_civil': 'Divorciado(a)', 'sinistros': 0, 'premio': 2114.89},
    '12354': {'idade': 77, 'sexo': 'F', 'estado_civil': 'Divorciado(a)', 'sinistros': 0, 'premio': 2282.2}
}

### Criando o DataFrame

In [25]:
clientes = pd.DataFrame(dados, ).T
# clientes.index.names = ['id']
clientes.head()

      idade sexo   estado_civil sinistros   premio
12345    18    F       Viuvo(a)         0  2793.06
12346    68    M       Viuvo(a)         0    428.3
12347    61    M      Casado(a)         1   1594.1
12348    19    M    Solteiro(a)         0  1821.82
12349    26    F  Divorciado(a)         0   807.88

### Clientes com mais de 30 anos

In [31]:
clientes[clientes.idade > 30]

      idade sexo   estado_civil sinistros   premio
12346    68    M       Viuvo(a)         0    428.3
12347    61    M      Casado(a)         1   1594.1
12351    58    F    Solteiro(a)         1  2511.96
12352    31    M    Solteiro(a)         0   800.22
12354    77    F  Divorciado(a)         0   2282.2

In [32]:
clientes.query('idade > 30')

      idade sexo   estado_civil sinistros   premio
12346    68    M       Viuvo(a)         0    428.3
12347    61    M      Casado(a)         1   1594.1
12351    58    F    Solteiro(a)         1  2511.96
12352    31    M    Solteiro(a)         0   800.22
12354    77    F  Divorciado(a)         0   2282.2

In [33]:
clientes[clientes['idade'] > 30]

      idade sexo   estado_civil sinistros   premio
12346    68    M       Viuvo(a)         0    428.3
12347    61    M      Casado(a)         1   1594.1
12351    58    F    Solteiro(a)         1  2511.96
12352    31    M    Solteiro(a)         0   800.22
12354    77    F  Divorciado(a)         0   2282.2

### Clientes sem sinistro

In [37]:
clientes.query('sinistros == 0')

      idade sexo   estado_civil sinistros   premio
12345    18    F       Viuvo(a)         0  2793.06
12346    68    M       Viuvo(a)         0    428.3
12348    19    M    Solteiro(a)         0  1821.82
12349    26    F  Divorciado(a)         0   807.88
12350    21    M  Divorciado(a)         0  2900.03
12352    31    M    Solteiro(a)         0   800.22
12353    21    M  Divorciado(a)         0  2114.89
12354    77    F  Divorciado(a)         0   2282.2

In [35]:
clientes[clientes['sinistros'] == 0]

      idade sexo   estado_civil sinistros   premio
12345    18    F       Viuvo(a)         0  2793.06
12346    68    M       Viuvo(a)         0    428.3
12348    19    M    Solteiro(a)         0  1821.82
12349    26    F  Divorciado(a)         0   807.88
12350    21    M  Divorciado(a)         0  2900.03
12352    31    M    Solteiro(a)         0   800.22
12353    21    M  Divorciado(a)         0  2114.89
12354    77    F  Divorciado(a)         0   2282.2

### Exibindo idade e prmio

In [38]:
clientes[['idade', 'premio']]

      idade   premio
12345    18  2793.06
12346    68    428.3
12347    61   1594.1
12348    19  1821.82
12349    26   807.88
12350    21  2900.03
12351    58  2511.96
12352    31   800.22
12353    21  2114.89
12354    77   2282.2

In [55]:
for index, row in clientes.iterrows():
  print(f"id: {index} - idade: {row['idade']} - premio: {row['premio']}")

id: 12345 - idade: 18 - premio: 2793.06
id: 12346 - idade: 68 - premio: 428.3
id: 12347 - idade: 61 - premio: 1594.1
id: 12348 - idade: 19 - premio: 1821.82
id: 12349 - idade: 26 - premio: 807.88
id: 12350 - idade: 21 - premio: 2900.03
id: 12351 - idade: 58 - premio: 2511.96
id: 12352 - idade: 31 - premio: 800.22
id: 12353 - idade: 21 - premio: 2114.89
id: 12354 - idade: 77 - premio: 2282.2

### Criando a coluna "categoria"

In [59]:
for index, row in clientes.iterrows():
  if row['idade'] >= 18 and row['idade'] <= 30:
    clientes.loc[index, 'categoria'] = 'Jovem'
  elif row['idade'] >= 31 and row['idade'] <= 45:
    clientes.loc[index, 'categoria'] = 'Adulto'
  else:
    clientes.loc[index, 'categoria'] = 'Snior'

clientes

      idade sexo   estado_civil sinistros   premio categoria
12345    18    F       Viuvo(a)         0  2793.06     Jovem
12346    68    M       Viuvo(a)         0    428.3    Snior
12347    61    M      Casado(a)         1   1594.1    Snior
12348    19    M    Solteiro(a)         0  1821.82     Jovem
12349    26    F  Divorciado(a)         0   807.88     Jovem
12350    21    M  Divorciado(a)         0  2900.03     Jovem
12351    58    F    Solteiro(a)         1  2511.96    Snior
12352    31    M    Solteiro(a)         0   800.22    Adulto
12353    21    M  Divorciado(a)         0  2114.89     Jovem
12354    77    F  Divorciado(a)         0   2282.2    Snior

In [60]:
clientes['categoria_2'] = clientes.apply(lambda row: 'Jovem' if row['idade'] >= 18 and row['idade'] <= 30 
                     else 'Adulto' if row['idade'] >= 31 and row['idade'] <= 45
                     else 'Snior', axis = 1)
clientes

      idade sexo   estado_civil sinistros   premio categoria categoria_2
12345    18    F       Viuvo(a)         0  2793.06     Jovem       Jovem
12346    68    M       Viuvo(a)         0    428.3    Snior      Snior
12347    61    M      Casado(a)         1   1594.1    Snior      Snior
12348    19    M    Solteiro(a)         0  1821.82     Jovem       Jovem
12349    26    F  Divorciado(a)         0   807.88     Jovem       Jovem
12350    21    M  Divorciado(a)         0  2900.03     Jovem       Jovem
12351    58    F    Solteiro(a)         1  2511.96    Snior      Snior
12352    31    M    Solteiro(a)         0   800.22    Adulto      Adulto
12353    21    M  Divorciado(a)         0  2114.89     Jovem       Jovem
12354    77    F  Divorciado(a)         0   2282.2    Snior      Snior

### Clculo do desconto

In [63]:
def calcula_desconto(row):
  if row['sinistros'] != 0:
    return 0.0
  else:
    if row['categoria'] in ('Adulto', 'Snior'):
      return round(0.1 * row['premio'], 2)
    else:
      return round(0.05 * row['premio'], 2)

clientes['desconto'] = clientes.apply(lambda row: calcula_desconto(row), axis = 1)
clientes

,idade,sexo,estado_civil,sinistros,premio,categoria,categoria_2,desconto
12345,18,F,Viuvo(a),0,2793.06,Jovem,Jovem,139.65
12346,68,M,Viuvo(a),0,428.3,Snior,Snior,42.83
12347,61,M,Casado(a),1,1594.1,Snior,Snior,0.00
12348,19,M,Solteiro(a),0,1821.82,Jovem,Jovem,91.09
12349,26,F,Divorciado(a),0,807.88,Jovem,Jovem,40.39
12350,21,M,Divorciado(a),0,2900.03,Jovem,Jovem,145.00
12351,58,F,Solteiro(a),1,2511.96,Snior,Snior,0.00
12352,31,M,Solteiro(a),0,800.22,Adulto,Adulto,80.02
12353,21,M,Divorciado(a),0,2114.89,Jovem,Jovem,105.74
12354,77,F,Divorciado(a),0,2282.2,Snior,Snior,228.22