<a href="https://colab.research.google.com/github/rafaelrolli/alura_insurance/blob/semana6-python-e-numpy/semana6_python_e_numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np

### Gerando massa de dados

In [2]:
n = 1000
ids_txt = np.arange(n) + 1
idades_txt = np.random.randint(low=18, high=80, size=n)
sexos_txt = np.random.choice(['M', 'F'], n)
estados_civis_txt = np.random.choice(['solteiro', 'casado', 'divorciado', 'viuvo'], n)
sinistros_txt = np.random.choice([0, 1], n, p=[.95, .05])
premios_txt = np.random.uniform(low=200.0, high=3000.0, size=n).round(2)

np.savetxt('ids.txt', ids_txt, fmt='%i')
np.savetxt('idades.txt', idades_txt, fmt='%i')
np.savetxt('sexos.txt', sexos_txt, fmt='%s')
np.savetxt('estados_civis.txt', estados_civis_txt, fmt='%s')
np.savetxt('sinistros.txt', sinistros_txt, fmt='%i')
np.savetxt('premios.txt', premios_txt, fmt='%f')

### Importando txts

In [3]:
ids = np.loadtxt('ids.txt', dtype = int)
idades = np.loadtxt('idades.txt', dtype = int)
sexos = np.loadtxt('sexos.txt', dtype = str)
estados_civis = np.loadtxt('estados_civis.txt', dtype = str)
sinistros = np.loadtxt('sinistros.txt', dtype = int)
premios = np.loadtxt('premios.txt', dtype = float)

clientes = np.array([ids, idades, sexos, estados_civis, sinistros, premios])

### Clientes com mais de 30 anos

In [4]:
contador = 0
for x in idades:
  if x > 30:
    contador += 1
print(contador)

816

In [5]:
len(idades[idades > 30])

816

In [6]:
np.count_nonzero(idades > 30)

816

### Filtrando clientes sem sinistros e com prêmio maior que 1000

In [7]:
clientes[:, (clientes[4].astype(float) == 0) & (clientes[5].astype(float) > 1000)]

array([['2', '3', '4', ..., '997', '998', '1000'],
       ['25', '33', '48', ..., '33', '51', '34'],
       ['M', 'M', 'F', ..., 'M', 'F', 'M'],
       ['viuvo', 'viuvo', 'solteiro', ..., 'divorciado', 'viuvo',
        'divorciado'],
       ['0', '0', '0', ..., '0', '0', '0'],
       ['2969.83', '2031.36', '1436.17', ..., '1482.27', '2787.37',
        '1591.48']], dtype='<U32')

### Classificação por faixa etária

In [8]:
contador_faixa_etaria_1 = 0
contador_faixa_etaria_2 = 0
contador_faixa_etaria_3 = 0
contador_faixa_etaria_4 = 0

for idade in clientes[1]:
  if idade.astype(float) >= 18 and idade.astype(float) <= 30:
    contador_faixa_etaria_1 += 1
  elif idade.astype(float) >= 31 and idade.astype(float) <= 45:
    contador_faixa_etaria_2 += 1
  elif idade.astype(float) >= 46 and idade.astype(float) <= 60:
    contador_faixa_etaria_3 += 1
  else:
    contador_faixa_etaria_4 += 1

print(f'''
Faixa etária 18-30: {contador_faixa_etaria_1}
Faixa etária 31-45: {contador_faixa_etaria_2}
Faixa etária 45-60: {contador_faixa_etaria_3}
Faixa etária mais de 60: {contador_faixa_etaria_4}
''')

Faixa etária 18-30: 184
Faixa etária 31-45: 242
Faixa etária 45-60: 261
Faixa etária mais de 60: 313

In [9]:
contador_1 = len([idade for idade in clientes[1] if idade.astype(float) >= 18 and idade.astype(float) <= 30])
contador_2 = len([idade for idade in clientes[1] if idade.astype(float) >= 31 and idade.astype(float) <= 45])
contador_3 = len([idade for idade in clientes[1] if idade.astype(float) >= 46 and idade.astype(float) <= 60])
contador_4 = len([idade for idade in clientes[1] if idade.astype(float) > 60])

print(f'''
Faixa etária 18-30: {contador_1}
Faixa etária 31-45: {contador_2}
Faixa etária 45-60: {contador_3}
Faixa etária mais de 60: {contador_4}
''')

Faixa etária 18-30: 184
Faixa etária 31-45: 242
Faixa etária 45-60: 261
Faixa etária mais de 60: 313

In [10]:
faixa_etaria = ['18-30' if idade.astype(float) >= 18 and idade.astype(float) <= 30 else
                '31-45' if idade.astype(float) >= 31 and idade.astype(float) <= 45 else
                '46-60' if idade.astype(float) >= 46 and idade.astype(float) <= 60 else
                'mais de 60' for idade in clientes[1]]

contador_faixa_1 = faixa_etaria.count('18-30')
contador_faixa_2 = faixa_etaria.count('31-45')
contador_faixa_3 = faixa_etaria.count('46-60')
contador_faixa_4 = faixa_etaria.count('mais de 60')

print(f'''
Faixa etária 18-30: {contador_faixa_1}
Faixa etária 31-45: {contador_faixa_2}
Faixa etária 45-60: {contador_faixa_3}
Faixa etária mais de 60: {contador_faixa_4}
''')

Faixa etária 18-30: 184
Faixa etária 31-45: 242
Faixa etária 45-60: 261
Faixa etária mais de 60: 313

In [11]:
faixas_etarias_unicas = np.unique(faixa_etaria)

for x in faixas_etarias_unicas:
  print('Faixa etária ' + x + ': ' + str(faixa_etaria.count(x)))

Faixa etária 18-30: 184
Faixa etária 31-45: 242
Faixa etária 46-60: 261
Faixa etária mais de 60: 313

### Valor médio do prêmio de acordo com o estado civil

In [12]:
estados_civis_unicos = np.unique(estados_civis)

premio_medio_por_estado_civil = [(x, premios[estados_civis == x].mean().round(2)) for x in estados_civis_unicos]

for i in premio_medio_por_estado_civil:
  print(i[0] + ': ' + str(i[1]))

casado: 1642.38
divorciado: 1661.19
solteiro: 1643.62
viuvo: 1605.67

In [13]:
estados_civis_unicos = np.unique(estados_civis)

for x in estados_civis_unicos:
  print(x + ': ' + str(premios[estados_civis == x].mean().round(2)))

casado: 1642.38
divorciado: 1661.19
solteiro: 1643.62
viuvo: 1605.67

### Clientes que pagam um prêmio superior à média dos prêmios pagos pelos clientes

In [14]:
premio_pago_medio = premios.mean()
clientes[:, clientes[5].astype(float) > premio_pago_medio]

array([['2', '3', '7', ..., '992', '994', '998'],
       ['25', '33', '70', ..., '47', '29', '51'],
       ['M', 'M', 'M', ..., 'F', 'F', 'F'],
       ['viuvo', 'viuvo', 'solteiro', ..., 'casado', 'divorciado',
        'viuvo'],
       ['0', '0', '0', ..., '0', '0', '0'],
       ['2969.83', '2031.36', '2470.83', ..., '2399.02', '2113.05',
        '2787.37']], dtype='<U32')